 
@media screen and (min-width: 768px){
   #section{
      height:auto;
      margin: 1%;
      margin-left: 6%;
      margin-right: 5%;
      padding: 2%;
    }
    .cyon{
      background-color:#59ABA9; 
      height:auto; 
      width: 100% 
    
    }
    .p{
      margin-left: 3%;
      margin-right: 3%;
      padding-left: 3%;
      padding-right: 3%;
      text-align: justify;
      font-family: serif;
      font-size: 1.6em;
    }
    .h1{
      margin: 3%;
      padding: 1%;
      padding-left: 3%;
      padding-right: 3%;
      font-family: sans-serif;
      font-size: 3em;


    }
   
  }
  @media (min-width: 480px) and (max-width: 767px){
   #section{
      height:auto; /*3350px */
    }
   
    .cyon{
      background-color:#59ABA9; 
      height:auto; /*3348px*/ 
      width: 100% 
    
    }
    .p{
      margin-left: 3%;
      margin-right: 3%;
      padding-left: 3%;
      padding-right: 3%;
      text-align: justify;
      font-family: serif;
      font-size: 2em;
    }
    .h1{
      margin: 3%;
      padding: 1%;
      padding-left: 3%;
      padding-right: 3%;
      font-family: sans-serif;
      font-size: 3em;


    }
    
  }
  @media (max-width: 480px){
   #section{
      height:auto;
      margin: 0%;
      padding: 0%;
    }
    .cyon{
      background-color:#59ABA9; 
      height:auto; 
      width: 100% 
    
    }
    .p{
      margin-left: 3%;
      margin-right: 3%;
      padding-left: 3%;
      padding-right: 3%;
      text-align: justify;
      font-family: serif;
      font-size: 1.3em;
    }
    .h1{
      margin: 3%;
      padding: 5%;
      padding-left: 3%;
      padding-right: 3%;
      font-family: sans-serif;
      font-size: 2em;


    }      
  }